<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alian.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="alian.domain.Class">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="semester_id" jdbcType="INTEGER" property="semesterId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, semester_id, course_id, teacher_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="alian.domain.Class">
    insert into class (id, semester_id, course_id, 
      teacher_id)
    values (#{id,jdbcType=INTEGER}, #{semesterId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="alian.domain.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="semesterId != null">
        semester_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="semesterId != null">
        #{semesterId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="alian.domain.Class">
    update class
    <set>
      <if test="semesterId != null">
        semester_id = #{semesterId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="alian.domain.Class">
    update class
    set semester_id = #{semesterId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="coursebycourse_teacherid" parameterType="Integer" resultType="Integer">
    select id
      from class
     where
      class.teacher_id=#{id};
  </select>

  <select id="findStudentsbyClassId" parameterType="Integer" resultType="Integer">
    select student.id
    from student,classstudent
    where
    student.id=classstudent.Student_id
    and classstudent.class_id=#{id}
  </select>

  <select id="findStudentsbyHomeworkid" parameterType="Integer" resultType="Integer">
       select student.id
      from student,classstudent,homework
      where
      student.id=classstudent.Student_id
      and homework.class_id=classstudent.class_id
      and homework.id=#{id}
  </select>
</mapper>