<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>截止时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="time" class="layui-input" id="test1">
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>延迟时间</div></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>文本内容</label>
                        <div class="layui-input-inline">
                             <textarea  id="L_username" name="text" required lay-verify="required" placeholder="请输入" class="layui-textarea"
                                       style="width:400px;height:200px;"
                             ></textarea>
                    </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>文件</label>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" id="upload">
                                <i class="layui-icon">&#xe67c;</i>上传文件
                            </button>
                        <div class="layui-form-mid layui-word-aux">从新上传作业文件</div></div>
                    </div>
                    <!--<div class="layui-form-item">-->
                        <!--<label for="L_repass" class="layui-form-label">-->
                            <!--<span class="x-red">*</span>确认密码</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>-->
                    <!--</div>-->
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <!--<button class="layui-btn" id="commit" onclick="return false">修改</button></div>-->
                        <button class="layui-btn" id="commit1" onclick="return false">修改</button>
                    </div>
                        <!--隐藏域 存储后台传输过来的id-->
                        <input id="homeworkid" type="hidden" th:value="${id}" />
                </form>
            </div>
        </div>
        <script type="text/javascript" th:src="@{../lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{../js/xadmin.js}"></script>
        <script th:src="@{../my_js/teacherEditHomeworkTable.js}"></script>
    </body>

</html>